ul {
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

ul li {
    padding:8px 15px 7px;
    font-size: 16px;    
    text-transform: capitalize;
}

ul li .editAble {
    display: none;
    width: 90%;
    margin-left: 10px;
}
ul li.editing .editAble {
    display: inline-block;
}
ul li.editing .task-value{
    display: none;
}


.text-align-center {
    text-align: center;
}

.text-align-right {
    text-align: right;
}

.text-strike{
    text-decoration: line-through;
    color:#AEACAC;    
}
.padding-zero {
    padding: 0;
}

h1.app-title {
    margin: 20px 0 25px;
}

.remove-task-wrapper{
    display: none;
}
ul li:hover{
   background: #FAFAED;
}
ul li:hover > .remove-task-wrapper{
   display: block;
}
.remove-task{
    border-radius: 50%;
    padding: 2px 8px;
}
