body{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.app-wrapper{
  border-top: 20px #c32c3d solid;
  margin-bottom: 20px;
  .top-buffer {
    margin-top:30px;
  }
  .appTitle{
    display: block;
    background: #f0374b;
    margin:0;
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
    color: #fff;
    text-align: center;
    padding: 15px 0 20px;
    line-height: 1;
  }
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  position: relative;
  cursor: pointer;
  z-index: 1000;
  border: 2px #f0374b solid;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  outline: none !important;
  outline-offset: 0;
  margin-top: 4px;
  &:hover{
    border: 2px #4fad53 solid;
  }
  &:checked{
    background: #4fad53;
    border: 2px #4fad53 solid;
    &::before{
      display: block;
      content: '\2714';
      font-size: 15px;
      position: absolute;
      top: -2px;
      left: 2px;
      color: #fff;
    }
  }
}


div.add-task{
  padding: 20px;
  box-shadow: 0px 4px 10px rgba(113, 113, 113, 0.5)
}

.form-control{
  height: 45px;
  &:focus {
    border-color: #f0374b;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #F28792;
  }
}

.list-container{
  margin: 20px 0 0;
  box-shadow: 0px 4px 10px rgba(113, 113, 113, 0.5);
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
    li{
      font-size: 16px;
      text-transform: capitalize;
    }
    &.todo-container{
      padding: 10px 15px 20px;
      h4.placeholder-task{
        margin: 10px 0 0 10px;
      }
      li {
        padding:10px;
        border-bottom:1px #ddd solid;
        width: 100%;
        &:hover{
          background: #FAFAED;
        }
        .task-title{
          float: left;
          padding: 6px 15px 4px;
          line-height: 1;
          width: 90%;
        }
        &.text-strike{
          span{
            text-decoration: line-through;
            color:#AEACAC;
          }
        }
        form.editAble {
          display: none;
          width: 100%;
          input.form-control {
            height: 35px;
          }
        }
        &.editing{
          display: inline-block;
          span.task-title,.option-input,.remove-task{
            display: none;
          }
          form.editAble {
            display: inline-block;
          }
        }

        .remove-task{
          border-radius: 50%;
          padding: 2px 8px;
          float: right;
        }
      }
    }
  }
}

.option-input{
  float: left;
  &.option-input-all{
    width: 40px;
    height: 40px;
    &:checked::before {
      font-size: 32px;
      top: -3px;
      left: 5px;
    }
  }
}

.extra-control{
  overflow: hidden;
  background-color: #f0374b;
  padding: 10px;
  ul{
    li{
      a{
        display: block;
        float: left;
        color: #fff;
        padding: 4px 10px;
        margin-right: 4px;
        border: 1px #f0374b solid;
        &.selected{
          border: 1px #fff solid;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
        }
        &:hover{
          border: 1px #fff solid;
          -webkit-border-radius: 3px;
          -moz-border-radius: 3px;
          border-radius: 3px;
          text-decoration: none;
        }
        &.clear-all{
          float: right;
        }
      }
    }
  }
}


